.score {
    background-color: #3aafa9;

    margin: 0.8rem;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score-form {
    background-color: #17252a;

    margin: 0.8rem;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score-heading-container {
    padding-left: 1.2rem;
}

.score-lable {
    font-size: 1.4rem;
}

.score-text {
    font-size: 6.4rem;
}

.score-details {
    padding-top: 0.4rem;
    font-size: 1.4rem;
}

.score-icon {
    font-size: 4.4rem;

    transition: all 0.5s;
}

.score-icon--open {
    transform: rotateZ(450deg);
}

.score-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-button{
    background-color: #AF3A40;
    color: #feffff;
    padding: 1.6rem 2.2rem;

    border-radius: 20px;
    border: 0;
    transition: all 0.3s;
}

.score-button:hover{
    background-color: #b74e53;
    transform: scale(1.1);
}

.score-button-close {
    background-color: #AF3A40;
    color: #feffff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 11px;
    margin-right: 0.6rem;

    transition: all 0.3s;
}

.score-button-close:hover {
    background-color: #b74e53;
    transform: scale(1.1);
}

.close-icon {
    font-size: 2rem;
}

.score-form-label {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.score-form-input {
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    font-size: 1.6rem;
    border: none;
    background-color: #feffff;
    color: #17252a;
    margin-bottom: 0.4rem;
}

.score-form-error-message {
    font-size: 1.4rem;
    color: #AF3A40;
}

.score-form-input:focus {
    outline-style: none;
    border-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.6) 0 1px 30px;
}

.score-form-button {
    background-color: #AF3A40;
    color: #feffff;
    padding: 1.4rem 2rem;
    border: none;

    border-radius: 20px;
    transition: all 0.3s;
}

.score-form-button:hover {
    background-color: #b74e53;
    transform: scale(1.1);
}

/* MEDIA QUERIES */
@media(max-width: 1450px) {
    .score-form {
        border-radius: 20px;

        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .score-form-button {
        padding: 1rem 1.6rem;

        border-radius: 16px;
    }

    .score-icon {
        font-size: 3.6rem;
    }

    .close-icon {
        font-size: 1.6rem;
    }

    .score {
        border-radius: 16px;

        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .score-buttons-container {
        gap: 1.2rem;
    }

    .score-lable {
        font-size: 2rem;
    }
}

@media(max-width: 1100px) {
    .score-form-input {
        padding: 0.1rem 0.2rem;
        border-radius: 4px;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
    }
}