.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 4.4rem;
}

.home-link-list {
    display: flex;
    gap: 2rem;
}

.home-logo {
    height: 30rem;
    animation: rotate 8s linear infinite; /* Adjust the duration as needed */
}

.home-link:link,
.home-link:visited {
    display: inline-block;
    font-size: 4rem;
    border: none;
    text-decoration: none;
    background-color: #AF3A40;
    color: #feffff;
    text-align: center;
    padding: 1.6rem 2.4rem;
    width: 230px;
    border-radius: 12px;

    transition: all 0.3s;
}

.home-link:hover,
.home-link:active {
    background-color: #b74e53;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
