.review-section {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr 14fr;
    height: 100vh;
}

.tabs-section {
    width: auto;
    display: flex;
    
    gap: 4px;
    margin-top: 2px;
}

.scores-section {
    grid-column: 2; 
    grid-row: 1 / -1;
    background-color: green;
}